In [2]:
#This is my model
CREATE OR REPLACE MODEL mydataset.sample_model
OPTIONS
  (model_type='logistic_reg', labels=['target']) AS
  WITH params AS (
    SELECT
    1 AS TRAIN,
    2 AS EVAL
    ),
Heart_disease AS(
  SELECT 
age AS Age,
trestbps AS Blood_Pressure,
chol AS Cholestrol,
thalach AS Max_Heart_rate,
sex AS Sex,
fbs AS Fasting_bloodsugar,
restecg AS ECG,
oldpeak AS Oldpeak,
exang AS exang,
thal AS thal,
slope AS slope,
ca AS CA,
target
FROM `heart-disease-427115.mydataset.Heart-disease-data`)
SELECT * FROM Heart_disease;






#This is the code to evaluate the model
SELECT *
FROM
  ML.EVALUATE(MODEL mydataset.sample_model,
  (
    WITH params AS (
      SELECT 1 AS TRAIN, 2 AS EVAL
    ),
    Heart_disease AS (
      SELECT 
        age AS Age,
        trestbps AS Blood_Pressure,
        chol AS Cholestrol,
        thalach AS Max_Heart_rate,
        sex AS Sex,
        fbs AS Fasting_bloodsugar,
        restecg AS ECG,
        oldpeak AS Oldpeak,
        exang AS exang,
        thal AS thal,
        slope AS slope,
        ca AS CA,
        target
      FROM `heart-disease-427115.mydataset.Heart-disease-data`
    )
    SELECT * FROM Heart_disease
  )
);

SyntaxError: invalid decimal literal (2675618573.py, line 25)